body{
    background: #fff;
}



.upload-btn{
    width: 150px;
  height: 145px;
  vertical-align: top;
  text-align: center;
  position: relative;
  padding-top: 30px;
  line-height: 26px;
}

.upload-btn .glyphicon{
    font-size: 40px
}

#imageLoader{
    opacity: 0;
    width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.menu-holder{
    padding:0;
    margin:0;
}
.menu-holder li{
    display: inline-block;
    margin:3px;
}

.active-element{
    border-color: #FF01FF;
    border-width: 17px;
}

.controls .full-w{
  margin-top:30px;
}
.full-w{
    width: 100%!important;  
}


.controls{
  width: 300px;
  padding: 10px 0 10px 10px;
  display: inline-block;
  margin-top:160px;
}

.preloader{
    background: rgba(255,255,255,0.8);
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 999999;

}

.preloader img{
    position: relative;
    top:50%;left:50%;
    transform: translate(-50%, -50%);
}


input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    
    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;
    
    /*required for proper track sizing in FF*/
    width: 100%;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 18px;
    background: #D3DBE2;
    border-top: 7px solid #fff;
    border-bottom: 7px solid #fff;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 1px solid #D3DBE2;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #fff;
    margin-top: -6px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #D3DBE2;
}

input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: #D3DBE2;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: 1px solid #D3DBE2;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #fff;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 300px;
    height: 5px;
    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #D3DBE2;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: 1px solid #D3DBE2;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: #fff;
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #D3DBE2;
}





@media  (max-width:1300px){
  .controls{
    width:550px;
    margin-top:10px;
  }
}


